
<!--============ Navigation ============-->

<!--Navbar-->
<div class="headerwrapper">

    <div id="header" class="container">
		<div class="logo"> <a href="#"><img src="../../../assets/img/LOGO.png" alt="logo" width="165" height="74"></a> </div> <!--end of Logo-->

    <nav>
       <ul>
                <li><a [routerLink]="[ '/' ]">ACCUEIL</a></li>
                <li> <a [routerLink]="[ '/repass/all-repas' ]">MENU</a></li>
                <li *ngIf="authService.isAdmin()"><a [routerLink]="[ '/index/commandes' ]">COMMANDE</a></li>
               <li *ngIf="authService.isAdmin()">
                 <a [routerLink]="[ '/index/commandesconfirme' ]">CONFIRME</a>
               </li>
                <li *ngIf="!authService.isLoggedIn()"><a [routerLink]="[ '/index/login' ]">SE CONNECTER</a></li>
                <li *ngIf="authService.isLoggedIn() && !authService.isAdmin()">

                    <a   [routerLink]="['/repass/cart-items']">
                      <i class="fa fa-shopping-cart" style="width: 30px;">[{{repasService.navbarCartCount}}]</i>


                    </a>

                </li>
                <li *ngIf="authService.isLoggedIn()" >
                  <a   [routerLink]="['/users'] " >
                   COMPTE </a>
                </li>
                <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">LOGOUT</a></li>
            </ul>

        </nav>
    </div>
    </div> <!-- end of headerwrapper-->


