.repas-detail .repas-head {
  padding: 10px;
  font-weight: 500;
}

.repas-detail .table th {
  width: 152px;
}

.repas-ship {
  height: 15rem;
}
h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: orangered;
}
th {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
