<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="repas-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          <img [src]="repas.repasImageUrl" [alt]="repas.repasName" width="100%" class="img-fluid rounded">
        </div>
        <div class="" style="margin-top:15px">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                  <b> <h6>Prix </h6></b>
              </div>
              <span class="text-muted" style="color:crimson !important"> <b>{{repas.repasPrice}}  Dt</b> </span>
            </li>

          </ul>

        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="repas-detail">
        <h5 class="repas-head">Détails de repas</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row"><b>Nom</b> </th>
              <td>{{repas.repasName}}</td>
            </tr>
            <tr>
              <th scope="row"><b>Description</b> </th>
              <td>{{repas.repasDescription}}</td>
            </tr>
            <tr>
              <th scope="row"><b>Catégorie</b> </th>
              <td>{{repas.repasCategory}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
