/*||||||||||||||||||||||||||||||||| SLIDER ||||||||||||||||||||||||||||||*/


.container{
 padding-top: 50px;
}
 h5{color:black; font-family:Economica-Bold; font-size:40px; margin-bottom:30px; margin-left:45px;}
 p{color:#454242; font-family:arial; width:530px; line-height:2em; font-weight:bold; font-size:18px;
float:left; margin-left:45px;}
img {float:right; margin-right:50px; margin-left: 600px; margin-top: -40px;}

